mat-card {
  margin: auto 40px 10px;
  text-align: center;
}

mat-card-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    color: green;
    margin-right: 20px;
  }
}

mat-toolbar {
  margin-bottom: 10px;
}

button.mat-primary {
  color: #fff;
}