<mat-card>
  <mat-card-title>
    <mat-icon>check_circle</mat-icon>
    Your FNOL email has been generated.
  </mat-card-title>
  <mat-card-content>
    <p>Your FNOL email has been generated - (Reference {{ fnolId }}).</p>
    <p>Remember to attach any supporting documents before sending.</p>
  </mat-card-content>
</mat-card>

<mat-toolbar class="mat-card-actions-align-end">
  <div class="button-container">
    <button type="button" mat-raised-button color="primary" aria-label="Create Additional FNOL"
      (click)="onCreateAdditionalFnolButtonClick()">
      Create Additional FNOL
    </button>
  </div>
</mat-toolbar>