<mat-card>
  <mat-card-title>Steps</mat-card-title>
  <mat-card-content class="instructions">
    <ol>
      <li>Click start, fill out the form to create an FNOL.</li>
      <li>Wait for an email confirmation about your FNOL submission.</li>
    </ol>
  </mat-card-content>
</mat-card>

<mat-toolbar class="mat-card-actions-align-end">
  <div class="button-container">
    <button
      type="button"
      mat-raised-button
      color="primary"
      aria-label="Start FNOL"
      (click)="onStartButtonClick()"
    >
      Start
    </button>
  </div>
</mat-toolbar>
