<mat-card>
    <mat-card-title>Steps</mat-card-title>
    <mat-card-content class="instructions">
        <ol>
            <li>You can create an FNOL.</li>
            <li>Wait for an email confirmation about your FNOL submission.</li>
            <li>Should you have any questions, please contact our support team with the reference provided.</li>
        </ol>
    </mat-card-content>
</mat-card>

<mat-toolbar class="mat-card-actions-align-end">
    <div class="button-container">
        <button type="button" mat-raised-button color="primary" aria-label="Start FNOL" (click)="onStartButtonClick()">
            Start
        </button>
    </div>
</mat-toolbar>