.mat-dialog-content .mat-dialog-title {
    display: flex;
    align-items: center;
    justify-content: start;
}

.mat-dialog-content .mat-icon {
    margin-right: 8px;
}

.mat-raised-button.mat-primary {
    color: #fff;
}