mat-card {
    margin: auto 40px 10px;
    padding: 20px;
}

.mat-card-title {
    margin-bottom: 10px;
}

.mat-card-content {
    max-width: 1000px;
}

.button-container {
    margin: 0 20px;
}

.button-container>button {
    color: #fff;
}

.hidden {
    display: none;
}

.footer-spacer {
    height: 96px;
}

.footer-row {
    position: fixed;
    width: -webkit-fill-available;
    bottom: 0;
}