mat-card {
    margin: auto 40px 10px;
    padding: 20px;
}

.mat-card-title {
    margin-bottom: 20px;
}

.mat-card-content {
    max-width: 1200px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.button-container>button {
    color: #fff;  
}

.button-align{
    text-align: center;
    margin-left: 60px;
    margin-right: 20px;
}

.hidden {
    display: none;
}

.footer-spacer {
    height: 96px;
}

.footer-row {
    position: fixed;
    width: -webkit-fill-available;
    bottom: 0;
}

.contact-checkbox {
    padding: 10px 10px;
}

mat-radio-group {
    mat-radio-button {
        padding-right: 20px;
    }
}

.flex-spacer {
    flex: 1 1 auto;
}

.any-witness-section,
.witness-section,
.authority-notified-section,
.authority-section,
.claimant-information-section,
.add-claimant-link,
.claimant-section {
    margin-top: 20px;
}

.add-witness-link,
.add-claimant-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 20px;
}
.warning-text {
    text-align: center;
    font-size: medium;
    padding: 20px;
}