<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title class="form-section-title">Reported by</mat-card-title>
    <mat-card-content formGroupName="reporter">
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Role in Relation to Loss</mat-label>
          <mat-select formControlName="relationToInsured">
            <mat-option value="Claimant">Claimant</mat-option>
            <mat-option value="Insured">Insured</mat-option>
            <mat-option value="Broker">Broker</mat-option>
            <mat-option value="MGA">MGA</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Title</mat-label>
          <mat-select formControlName="title">
            <mat-option value="Mr">Mr</mat-option>
            <mat-option value="Mrs">Mrs</mat-option>
            <mat-option value="Ms">Ms</mat-option>
            <mat-option value="Miss">Miss</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" maxlength="100" />
          <mat-hint align="end" *ngIf="form.value.reporter.firstName?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.reporter.lastName?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Phone</mat-label>
          <input matInput type="tel" formControlName="phone" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.reporter.phone?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" ngModel [email]="true" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.reporter.email?.length >= 100">Max 100 characters</mat-hint>
          <mat-error *ngIf="form.get('reporter.email')?.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Mailing Address:</mat-label>
          <input matInput formControlName="addressOne" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.reporter.addressOne?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Street/Post Office Box:</mat-label>
          <input matInput formControlName="addressTwo" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.reporter.addressTwo?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.reporter.city?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>State/Province</mat-label>
          <input matInput formControlName="state" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.reporter.state?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option value="United States">United States</mat-option>
            <mat-option value="United Kingdom">United Kingdom</mat-option>
            <mat-option value="Others">Other</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4" *ngIf="form.value.reporter.country === 'Others'">
          <mat-label>Country Name</mat-label>
          <input matInput formControlName="customCountry" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.reporter.customCountry?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Zip/Postal Code</mat-label>
          <input matInput formControlName="postalCode" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.reporter.postalCode?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title class="form-section-title">Policy Information</mat-card-title>
    <mat-card-content formGroupName="policy">
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Policy Number</mat-label>
          <input matInput formControlName="policyNumber" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.policyNumber?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-checkbox class="col-md-4 contact-checkbox" formControlName="contactSameAsReporter">Same Contact and Address
          as
          Reported by</mat-checkbox>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Title</mat-label>
          <mat-select formControlName="title">
            <mat-option value="Mr">Mr</mat-option>
            <mat-option value="Mrs">Mrs</mat-option>
            <mat-option value="Ms">Ms</mat-option>
            <mat-option value="Miss">Miss</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4" >
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.contactSameAsReporter === false && form.value.policy.firstName?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.contactSameAsReporter === false && form.value.policy.lastName?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Phone</mat-label>
          <input matInput type="tel" formControlName="phone" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.contactSameAsReporter === false && form.value.policy.phone?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" ngModel [email]="true" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.contactSameAsReporter === false && form.value.policy.email?.length >= 100">Max 100 characters</mat-hint>
          <mat-error *ngIf="form.get('policy.email')?.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>Mailing Address:</mat-label>
          <input matInput formControlName="addressOne" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.contactSameAsReporter === false && form.value.policy.addressOne?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Street/Post Office Box:</mat-label>
          <input matInput formControlName="addressTwo" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.contactSameAsReporter === false && form.value.policy.addressTwo?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.contactSameAsReporter === false && form.value.policy.city?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <mat-label>State/Province</mat-label>
          <input matInput formControlName="state" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.contactSameAsReporter === false && form.value.policy.state?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option value="United States">United States</mat-option>
            <mat-option value="United Kingdom">United Kingdom</mat-option>
            <mat-option value="Others">Other</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4" *ngIf="form.value.policy.country === 'Others'">
          <mat-label>Country Name</mat-label>
          <input matInput formControlName="customCountry" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.customCountry?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Zip/Postal Code</mat-label>
          <input matInput formControlName="postalCode" maxlength="100"/>
          <mat-hint align="end" *ngIf="form.value.policy.contactSameAsReporter === false && form.value.policy.postalCode?.length >= 100">Max 100 characters</mat-hint>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title class="form-section-title">Loss Information</mat-card-title>
    <mat-card-content formGroupName="loss">
      <div class="row">
        <mat-form-field class="col-md-3">
          <mat-label>Date of Loss</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" [max]="currentDate" placeholder="MM/DD/YYYY">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-9">
          <mat-label>Loss Description</mat-label>
          <textarea matInput formControlName="description" rows="4" maxlength="300"></textarea>
          <mat-hint align="end">{{form.value.loss.description?.length || 0}}/300</mat-hint>
        </mat-form-field>
      </div>
      <div class="row any-witness-section">
        <mat-label class="col-md-3">Loss location:</mat-label>
          <mat-radio-group class="col-md-6" aria-label="Loss location:" formControlName="lossLocation">
            <mat-radio-button value="">Enter New</mat-radio-button>
            <mat-radio-button value="SameAsReporter">Same as Reported by</mat-radio-button>
            <mat-radio-button value="SameAsInsured">Same as Insured</mat-radio-button>
          </mat-radio-group>
      </div>
      <div formGroupName="lossAddress">
        <div class="row any-witness-section">
          <mat-form-field class="col-md-3 offset-md-3">
            <mat-label>Mailing Address:</mat-label>
            <input matInput formControlName="addressOne" maxlength="100">
            <mat-hint align="end" *ngIf="form.value.loss.lossLocation !== '' && form.value.loss.lossAddress.addressOne?.length >= 100">Max 100 characters</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>Street/Post Office Box:</mat-label>
            <input matInput formControlName="addressTwo" maxlength="100">
            <mat-hint align="end" *ngIf="form.value.loss.lossLocation !== '' && form.value.loss.lossAddress.addressTwo?.length >= 100">Max 100 characters</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" maxlength="100">
            <mat-hint align="end" *ngIf="form.value.loss.lossLocation !== '' && form.value.loss.lossAddress.city?.length >= 100">Max 100 characters</mat-hint>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-3 offset-md-3">
            <mat-label>State/Province</mat-label>
            <input matInput formControlName="state" maxlength="100">
            <mat-hint align="end" *ngIf="form.value.loss.lossLocation !== '' && form.value.loss.lossAddress.state?.length >= 100">Max 100 characters</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option value="United States">United States</mat-option>
              <mat-option value="United Kingdom">United Kingdom</mat-option>
              <mat-option value="Others">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-3 offset-md-3" *ngIf="form.value.loss.lossAddress.country === 'Others'">
            <mat-label>Country Name</mat-label>
            <input matInput formControlName="customCountry" maxlength="100"/>
            <mat-hint align="end" *ngIf="form.value.loss.lossAddress.customCountry?.length >= 100">Max 100 characters</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>Zip/Postal Code</mat-label>
            <input matInput formControlName="postalCode" maxlength="100">
            <mat-hint align="end" *ngIf="form.value.loss.lossLocation !== '' &&  form.value.loss.lossAddress.postalCode?.length >= 100">Max 100 characters</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row any-witness-section">
        <mat-label class="col-md-3">Are there any witnesses of loss?</mat-label>
        <mat-radio-group class="col-md-4" aria-label="Are there any witnesses of loss?"
          formControlName="anyWitnessOfLoss">
          <mat-radio-button value="Yes">Yes</mat-radio-button>
          <mat-radio-button value="No">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="form.value.loss.anyWitnessOfLoss === 'Yes'">
        <div formArrayName="witnesses">
          <div class="witness-section" *ngFor="let witness of witnesses.controls; let i = index" [formGroupName]="i">
            <div class="row">
              <mat-form-field class="col-md-3 offset-md-3">
                <mat-label>Title</mat-label>
                <mat-select formControlName="title">
                  <mat-option value="Mr">Mr</mat-option>
                  <mat-option value="Mrs">Mrs</mat-option>
                  <mat-option value="Ms">Ms</mat-option>
                  <mat-option value="Miss">Miss</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <mat-label>First Name</mat-label>
                <input matInput #inputWitFN formControlName="firstName" maxlength="100">
                <mat-hint align="end" *ngIf="inputWitFN.value?.length >= 100">Max 100 characters</mat-hint>
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <mat-label>Last Name</mat-label>
                <input matInput #inputWitLN formControlName="lastName" maxlength="100">
                <mat-hint align="end" *ngIf="inputWitLN.value?.length >= 100">Max 100 characters</mat-hint>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-md-3 offset-md-3">
                <mat-label>Phone</mat-label>
                <input matInput #inputWitPhone type="tel" formControlName="phone" maxlength="100">
                <mat-hint align="end" *ngIf="inputWitPhone.value?.length >= 100">Max 100 characters</mat-hint>
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <mat-label>Email</mat-label>
                <input matInput #inputWitEmail type="email" formControlName="email" ngModel [email]="true" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" maxlength="100">
                <mat-hint align="end" *ngIf="inputWitEmail.value?.length >= 100">Max 100 characters</mat-hint>
                <mat-error *ngIf="witness.get('email')?.hasError('email')">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-md-3 offset-md-3">
                <mat-label>Mailing Address:</mat-label>
                <input matInput #inputWitMA formControlName="addressOne" maxlength="100">
                <mat-hint align="end" *ngIf="inputWitMA.value?.length >= 100">Max 100 characters</mat-hint>
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <mat-label>Street/Post Office Box:</mat-label>
                <input matInput #inputWitStreet formControlName="addressTwo" maxlength="100">
                <mat-hint align="end" *ngIf="inputWitStreet.value?.length >= 100">Max 100 characters</mat-hint>
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <mat-label>City</mat-label>
                <input matInput #inputWitCity formControlName="city" maxlength="100">
                <mat-hint align="end" *ngIf="inputWitCity.value?.length >= 100">Max 100 characters</mat-hint>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-md-3 offset-md-3">
                <mat-label>State/Province</mat-label>
                <input matInput #inputWitState formControlName="state" maxlength="100">
                <mat-hint align="end" *ngIf="inputWitState.value?.length >= 100">Max 100 characters</mat-hint>
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <mat-label>Country</mat-label>
                <mat-select #inputWitCountry formControlName="country">
                  <mat-option value="United States">United States</mat-option>
                  <mat-option value="United Kingdom">United Kingdom</mat-option>
                  <mat-option value="Others">Other</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-md-4" *ngIf="inputWitCountry.value === 'Others'">
                <mat-label>Country Name</mat-label>
                <input matInput #inputWitCustCountry formControlName="customCountry" maxlength="100"/>
                <mat-hint align="end" *ngIf="inputWitCustCountry.value?.length >= 100">Max 100 characters</mat-hint>
              </mat-form-field>
              <mat-form-field class="col-md-3">
                <mat-label>Zip/Postal Code</mat-label>
                <input matInput #inputWitZip formControlName="postalCode" maxlength="100">
                <mat-hint align="end" *ngIf="inputWitZip.value?.length >= 100">Max 100 characters</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-3 add-witness-link" (click)="addWitness()">
            <mat-icon aria-hidden="false" aria-label="Add additional witness">add</mat-icon>
            <span>Add additional witness</span>
          </div>
        </div>
      </div>
      <div class="row authority-notified-section">
        <mat-label class="col-md-3">Are authorities notified?</mat-label>
        <mat-radio-group class="col-md-4" aria-label="Are authorities notified?"
          formControlName="areAuthoritiesNotified">
          <mat-radio-button value="Yes">Yes</mat-radio-button>
          <mat-radio-button value="No">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="form.value.loss.areAuthoritiesNotified === 'Yes'">
        <div class="row authority-section">
          <mat-form-field class="col-md-3 offset-md-3">
            <mat-label>Type of Authority</mat-label>
            <input matInput formControlName="authorityType" maxlength="100">
            <mat-hint align="end" *ngIf="form.value.loss.authorityType?.length >= 100">Max 100 characters</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>Report Reference</mat-label>
            <input matInput formControlName="authorityReportNumber" maxlength="100">
            <mat-hint align="end" *ngIf="form.value.loss.authorityReportNumber?.length >= 100">Max 100 characters</mat-hint>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-6 offset-md-3">
            <mat-label>Additional Information</mat-label>
            <textarea matInput formControlName="authorityAdditionalInformation" rows="4" maxlength="300"></textarea>
            <mat-hint align="end">{{form.value.loss.authorityAdditionalInformation?.length || 0}}/300</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title class="form-section-title">Claimant Information</mat-card-title>
    <mat-card-content formGroupName="claimant">
      <div class="row claimant-information-section">
        <mat-radio-group class="col-md-6" aria-label="Claimant Information" formControlName="claimantContact" >
          <mat-radio-button value="">Enter New</mat-radio-button>
          <mat-radio-button value="SameAsReporter">Same as Reported by</mat-radio-button>
          <mat-radio-button value="SameAsInsured">Same as Insured</mat-radio-button>
        </mat-radio-group>
      </div>
      <div formArrayName="claimants">
        <div class="claimant-section" *ngFor="let claimant of claimants.controls; let i = index" [formGroupName]="i">
          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-label>Title</mat-label>
              <mat-select formControlName="title">
                <mat-option value="Mr">Mr</mat-option>
                <mat-option value="Mrs">Mrs</mat-option>
                <mat-option value="Ms">Ms</mat-option>
                <mat-option value="Miss">Miss</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>First Name</mat-label>
              <input matInput #inputClaimFN formControlName="firstName" maxlength="100">
              <mat-hint align="end" *ngIf="inputClaimFN.value?.length >= 100">Max 100 characters</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Last Name</mat-label>
              <input matInput #inputClaimLN formControlName="lastName" maxlength="100">
              <mat-hint align="end" *ngIf="inputClaimLN.value?.length >= 100">Max 100 characters</mat-hint>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-label>Phone</mat-label>
              <input matInput type="tel" #inputClaimPhone formControlName="phone" maxlength="100">
              <mat-hint align="end" *ngIf="inputClaimPhone.value?.length >= 100">Max 100 characters</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Email</mat-label>
              <input matInput #inputClaimEmail type="email" formControlName="email" ngModel [email]="true" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" maxlength="100">
              <mat-hint align="end" *ngIf="inputClaimEmail.value?.length >= 100">Max 100 characters</mat-hint>
              <mat-error *ngIf="claimant.get('email')?.hasError('email')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-label>Mailing Address:</mat-label>
              <input matInput #inputClaimMA formControlName="addressOne" maxlength="100">
              <mat-hint align="end" *ngIf="inputClaimMA.value?.length >= 100">Max 100 characters</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Street/Post Office Box:</mat-label>
              <input matInput #inputClaimStreet formControlName="addressTwo" maxlength="100">
              <mat-hint align="end" *ngIf="inputClaimStreet.value?.length >= 100">Max 100 characters</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>City</mat-label>
              <input matInput #inputClaimCity formControlName="city" maxlength="100">
              <mat-hint align="end" *ngIf="inputClaimCity.value?.length >= 100">Max 100 characters</mat-hint>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-label>State/Province</mat-label>
              <input matInput #inputClaimState formControlName="state" maxlength="100">
              <mat-hint align="end" *ngIf="inputClaimState.value?.length >= 100">Max 100 characters</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Country</mat-label>
              <mat-select #inputClaimCountry formControlName="country">
                <mat-option value="United States">United States</mat-option>
                <mat-option value="United Kingdom">United Kingdom</mat-option>
                <mat-option value="Others">Other</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-4" *ngIf="inputClaimCountry.value === 'Others'">
              <mat-label>Country Name</mat-label>
              <input matInput #inputClaimCustCountry formControlName="customCountry" maxlength="100"/>
              <mat-hint align="end" *ngIf="inputClaimCustCountry.value?.length >= 100">Max 100 characters</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Zip/Postal Code</mat-label>
              <input matInput #inputClaimZip formControlName="postalCode" maxlength="100">
              <mat-hint align="end" *ngIf="inputClaimZip.value?.length >= 100">Max 100 characters</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 add-claimant-link" (click)="addClaimant()">
          <mat-icon aria-hidden="false" aria-label="Add additional claimant">add</mat-icon>
          <span>Add additional claimant</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="footer-spacer"></div>
  <div class="footer-row">
    <mat-divider></mat-divider>
    <mat-toolbar class="mat-card-actions-align-end">
      <div class="col-md-9 warning-text">
        <img src="assets/img/warning.png" height="25px" width="25px">
        Please enter all the mandatory fields before moving forward.
      </div>
      <div class="col-md-3 button-container">
        <button class="button-align" mat-raised-button color="primary" (click)="resetForm()">
          Reset
        </button>
        <button class="button-align" type="submit" mat-raised-button color="primary" aria-label="Submit FNOL" [disabled]="!form.touched || form.invalid">
          Generate Email
        </button>
      </div>
    </mat-toolbar>
  </div>
</form>