.mat-dialog-content .mat-dialog-title {
  display: flex;
  align-items: center;
  justify-content: start;
}

.mat-dialog-content .mat-icon {
  margin-right: 8px;
}

.flex-spacer {
  flex: 1 1 auto;
}

button.mat-primary {
  color: #fff;
}